# merge dsets

In [1]:
import pandas as pd

In [2]:
gap = pd.read_csv('gapminder.csv')
gdp = pd.read_csv('gdp2.csv')

In [6]:
gap

      Unnamed: 0      country  Year    GDP  Life-Expectancy Population
0              0  Afghanistan  1990    NaN             53.8      13.3M
1              1  Afghanistan  1991    NaN             54.2      14.5M
2              2  Afghanistan  1992    NaN             54.4      15.8M
3              3  Afghanistan  1993    NaN             53.9      17.1M
4              4  Afghanistan  1994    NaN             54.3      18.1M
...          ...          ...   ...    ...              ...        ...
6295        6295     Zimbabwe  2015  20.1B             59.2        14M
6296        6296     Zimbabwe  2016  21.1B             59.9      14.2M
6297        6297     Zimbabwe  2017  22.1B             60.6      14.4M
6298        6298     Zimbabwe  2018  20.7B             61.0      14.6M
6299        6299     Zimbabwe  2019  19.4B             60.7      14.9M

[6300 rows x 6 columns]

In [14]:
new = gap.merge(gdp, left_on=['country','Year'], right_on=['name', 'time'], how='inner')

In [15]:
new = new.drop(columns=['Unnamed: 0', 'GDP', 'name', 'time'])
new

,country,Year,Life-Expectancy,Population,geo,Income per person,GDP total,GDP per capita growth (%)
0,Afghanistan,1990,53.8,13.3M,afg,1119,13894807950,-3.60
1,Afghanistan,1991,54.2,14.5M,afg,1024,13622380953,-8.50
2,Afghanistan,1992,54.4,15.8M,afg,981,14209757543,-4.23
3,Afghanistan,1993,53.9,17.1M,afg,672,10634500188,-31.46
4,Afghanistan,1994,54.3,18.1M,afg,498,8504078118,-25.93
...,...,...,...,...,...,...,...,...
5695,Zimbabwe,2015,59.2,14M,zwe,3708,51219476803,0.10
5696,Zimbabwe,2016,59.9,14.2M,zwe,3678,51606629079,-0.79
5697,Zimbabwe,2017,60.6,14.4M,zwe,3796,54037039239,3.19
5698,Zimbabwe,2018,61.0,14.6M,zwe,3923,56643899781,3.36
5699,Zimbabwe,2019,60.7,14.9M,zwe,3630,53163564721,-7.47

In [16]:
new.to_csv('gapminder.csv')